body {
   background-color: #D3D3D3;
}
h1 {
   color: #000000;
   text-align: center;
   padding: 20px;
}

.images {
  display: flex;
  justify-content: space-around;
}
.row {
   display: flex;
}

.column {
   flex: 33.33%;
   padding: 5px;
}

p {
   font-family: verdana;
   font-size: 15px;
}

* {
  box-sizing: border-box;
}
{
  padding-bottom: 30px;
}
.footer {
   position: flex;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
}


